/* font  */
@font-face {
    font-family: "Roboto Mono";
    src: url("font/static/RobotoMono-Regular.ttf")
}

body {
    font-family: "Roboto Mono" !important;
}

#underlineTopBottom {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#instagramLogo {
    width: auto;
}

#logoSize {
    width: auto;
}

#productImg{
    margin-bottom: 10px;
    max-width: 150px;
    height: auto;
}

#brandsResponsive {
    text-align: right;
    /* color: transparent; */
}

footer {
    background-color: white;
    position: sticky;
}

/* länkar */
a:link {
    text-decoration: none;
}

a:visited {
    background-color: black;
}

a:hover {
    text-decoration: underline;
}

.menuLink a:link {
    color:black;
}

.menuLink a:visited {
    color:black;
}

/* Responive */
@media screen and (max-width:1051px) {
    #brandsResponsive {
        margin-top: 3vh;
        text-align: center;
    }

}

@media screen and (max-width: 750px) {
    #logoSize {
        height: 80px;
    }

    #instagramLogo {
        height: 40px;
    }
    
    .menuLink {
        font-size: 12px;
    }
    }

@media screen and (max-width: 650px) {
    #aboutText{
        font-size:15px;
    }
    }

@media screen and (max-width: 450px) {
    .menuLink {
        font-size: 7px;
    }

    #brandsResponsive {
        font-size: 20px;
        margin-top: 3vh;
        text-align: center;
    }

    #aboutText{
        font-size:13px;
    }
    }

@media screen and (max-width: 400px) {
    .menuLink {
        font-size: 5px;
    }

    #aboutText{
        font-size:10px;
    }
    }