/* font  */
@font-face {
    font-family: "Roboto Mono";
    src: url("font/static/RobotoMono-Regular.ttf")
}


body {
    font-family: "Roboto Mono" !important;
}

#footer {
    position: sticky;
}

#infoContainer {
}

#productImg{
    margin-bottom: 10px;
    max-width: 150px;
    height: auto;
}

#slideshow {
} 


/* länkar */
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}