/* font  */
@font-face {
    font-family: "Roboto Mono";
    src: url("font/static/RobotoMono-Regular.ttf")
}


body {
    font-family: "Roboto Mono" !important;
}



img {
    max-width: 150px;
    height: auto;
}

#footer {
    position: sticky;
}

#infoContainer {
    height: 80vh;
}

#productImg{
    border-radius: 10px;
}


/* länkar */
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}